{% extends 'base.html' %} {% block content %} {% load static %}
<div>
  <h2>Post page</h2>

  <a href="{% url 'post:create' %}">Create a post</a>

  <div>
    {% if object_list %}
    <p>This are the post</p>
    <div>
      {% for obj in object_list %}
      <div>
        {% if obj.image %}
        <img
          style="width: 200px; display: flex; float: right;"
          src="{{ obj.image.url }}"
        />
        <br clear="all" />
        {% endif %}
        <h3><a href="{% url 'post:detail' obj.id%}">{{obj.title }}</a></h3>
        <p>{{obj.body }}</p>
        <p>It has {{obj.like.liker.all|length}} likes</p>
        <p>{{obj.comment.all|length}} comment</p>
        {% if request.user.is_authenticated %}
        <div style="display:inline-flex ;">
          <form action="{% url 'post:like' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="like" />
            <input type="hidden" name="post_id" value="{{obj.id}}" />
          </form>

          <form action="{% url 'post:unlike' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="unlike" />
            <input type="hidden" name="post_id" value="{{obj.id}}" />
          </form>
        </div>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
